@import '../variable/variables.scss';

.quantity__container{
    display: flex;
    padding: 0 .5em;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 6.25em;
    height: 3em;
    background-color: $Light-grayish-blue;
    border-radius: 10%;
    max-height: 100%;
}

#quantity__minus_container{
    height: 100%;
}

#quantity__plus{
    align-self: center;
}